<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2017 by Alexey Andreev <trashtalk.mute@gmail.com>. packages.config is part of SpintiresModsLoader. license GPL-3.0+ -->
<packages>
  <package id="LZMA-SDK" version="9.20" targetFramework="net45" />
  <package id="SevenZipSharp.Net45" version="1.0.5" targetFramework="net45" />
</packages>